[{:connection/src {:intersection/of ["Juniper Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["Broad Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["Juniper Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-3"}
  :connection/dst {:intersection/of ["Broad Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["13th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["Juniper Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["13th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["Juniper Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["13th Street" "Walnut Street"]
                   :street/name "13th Street"
                   :street/tag "north"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["13th Street" "Sansom Street"]
                   :street/name "13th Street"
                   :street/tag "south"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["13th Street" "Walnut Street"]
                   :street/name "13th Street"
                   :street/tag "north"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["13th Street" "Sansom Street"]
                   :street/name "13th Street"
                   :street/tag "south"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["12th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["13th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-1"}}
 
 {:connection/src {:intersection/of ["12th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["13th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["12th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["13th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-3"}}

 {:connection/src {:intersection/of ["11th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["12th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["11th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "west"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["12th Street" "Walnut Street"]
                   :street/name "Walnut Street"
                   :street/tag "east"
                   :lane/name "in-3"}}

 {:connection/src {:intersection/of ["Broad Street" "Walnut Street"]
                   :street/name "Broad Street"
                   :street/tag "north"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["Broad Street" "Sansom Street"]
                   :street/name "Broad Street"
                   :street/tag "south"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["Broad Street" "Walnut Street"]
                   :street/name "Broad Street"
                   :street/tag "north"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["Broad Street" "Sansom Street"]
                   :street/name "Broad Street"
                   :street/tag "south"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["Broad Street" "Walnut Street"]
                   :street/name "Broad Street"
                   :street/tag "north"
                   :lane/name "out-3"}
  :connection/dst {:intersection/of ["Broad Street" "Sansom Street"]
                   :street/name "Broad Street"
                   :street/tag "south"
                   :lane/name "in-3"}}

 {:connection/src {:intersection/of ["Broad Street" "Sansom Street"]
                   :street/name "Broad Street"
                   :street/tag "north"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["Broad Street" "Chestnut Street"]
                   :street/name "Broad Street"
                   :street/tag "south"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["Broad Street" "Sansom Street"]
                   :street/name "Broad Street"
                   :street/tag "north"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["Broad Street" "Chestnut Street"]
                   :street/name "Broad Street"
                   :street/tag "south"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["Broad Street" "Sansom Street"]
                   :street/name "Broad Street"
                   :street/tag "north"
                   :lane/name "out-3"}
  :connection/dst {:intersection/of ["Broad Street" "Chestnut Street"]
                   :street/name "Broad Street"
                   :street/tag "south"
                   :lane/name "in-3"}}

 {:connection/src {:intersection/of ["Broad Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["Juniper Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["Broad Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["Juniper Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["Juniper Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["13th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-1"}}
 
 {:connection/src {:intersection/of ["Juniper Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["13th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["Juniper Street" "Chestnut Street"]
                   :street/name "Juniper Street"
                   :street/tag "south"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["Juniper Street" "Sansom Street"]
                   :street/name "Juniper Street"
                   :street/tag "north"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["13th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["12th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["13th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["12th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["12th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["11th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["12th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["11th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["12th Street" "Chestnut Street"]
                   :street/name "12th Street"
                   :street/tag "south"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["12th Street" "Sansom Street"]
                   :street/name "12th Street"
                   :street/tag "north"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["12th Street" "Chestnut Street"]
                   :street/name "12th Street"
                   :street/tag "south"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["12th Street" "Sansom Street"]
                   :street/name "12th Street"
                   :street/tag "north"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["11th Street" "Sansom Street"]
                   :street/name "11th Street"
                   :street/tag "north"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["11th Street" "Chestnut Street"]
                   :street/name "11th Street"
                   :street/tag "south"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["11th Street" "Sansom Street"]
                   :street/name "11th Street"
                   :street/tag "north"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["11th Street" "Chestnut Street"]
                   :street/name "11th Street"
                   :street/tag "south"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["11th Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "west"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["12th Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "east"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["12th Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "west"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["13th Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "east"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["12th Street" "Sansom Street"]
                   :street/name "12th Street"
                   :street/tag "south"
                   :lane/name "out-1"}
  :connection/dst {:intersection/of ["12th Street" "Walnut Street"]
                   :street/name "12th Street"
                   :street/tag "north"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["12th Street" "Sansom Street"]
                   :street/name "12th Street"
                   :street/tag "south"
                   :lane/name "out-2"}
  :connection/dst {:intersection/of ["12th Street" "Walnut Street"]
                   :street/name "12th Street"
                   :street/tag "north"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["13th Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "west"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["Juniper Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "east"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["13th Street" "Sansom Street"]
                   :street/name "13th Street"
                   :street/tag "north"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["13th Street" "Chestnut Street"]
                   :street/name "13th Street"
                   :street/tag "south"
                   :lane/name "in-1"}}

 {:connection/src {:intersection/of ["13th Street" "Sansom Street"]
                   :street/name "13th Street"
                   :street/tag "north"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["13th Street" "Chestnut Street"]
                   :street/name "13th Street"
                   :street/tag "south"
                   :lane/name "in-2"}}

 {:connection/src {:intersection/of ["Juniper Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "west"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["Broad Street" "Sansom Street"]
                   :street/name "Sansom Street"
                   :street/tag "east"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["Juniper Street" "Sansom Street"]
                   :street/name "Juniper Street"
                   :street/tag "south"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["Juniper Street" "Walnut Street"]
                   :street/name "Juniper Street"
                   :street/tag "north"
                   :lane/name "in"}}]

