[{:id "Mike"
  :directions
  {{:intersection/of ["10th Street" "Market Street"]
    :street/name "10th Street"
    :street/tag "south"
    :street.lane.install/name "in"}
   {:intersection/of ["10th Street" "Market Street"]
    :street/name "10th Street"
    :street/tag "north"
    :street.lane.install/name "out"}}}]

