[{:src {:intersection/of ["10th Street" "Chestnut Street"]
        :street/name "10th Street"
        :street/tag "south"
        :street.lane.install/name "in"}
  :dst {:intersection/of ["10th Street" "Chestnut Street"]
        :street/name "Chestnut Street"
        :street/tag "west"
        :street.lane.install/name "out"}
  :length 10
  :id "Dan"}
 {:src {:intersection/of ["10th Street" "Chestnut Street"]
        :street/name "10th Street"
        :street/tag "south"
        :street.lane.install/name "in"}
  :dst {:intersection/of ["10th Street" "Chestnut Street"]
        :street/name "10th Street"
        :street/tag "north"
        :street.lane.install/name "out"}
  :length 20
  :id "Kristen"}
 {:src {:intersection/of ["10th Street" "Chestnut Street"]
        :street/name "10th Street"
        :street/tag "north"
        :street.lane.install/name "in"}
  :dst {:intersection/of ["10th Street" "Chestnut Street"]
        :street/name "10th Street"
        :street/tag "south"
        :street.lane.install/name "out"}
  :length 10
  :id "Dorrene"}]

