[{:light-face/ident :standard
  :light-face/halt [:red]
  :light-face/proceed [:yellow :green]
  :light-face/init [:red]}

 {:schedule/ident :shamrock-schedule
  :schedule/substitute {?w :standard ?x :standard ?y :standard ?z :standard}
  :schedule/sequence [{:states {?w [:green] ?y [:green]} :duration 8000}
                      {:states {?w [:yellow] ?y [:yellow]} :duration 3000}
                      {:states {?w [:red] ?y [:red]} :duration 3000}
                      {:states {?x [:green] ?z [:green]} :duration 8000}
                      {:states {?x [:yellow] ?z [:yellow]} :duration 3000}
                      {:states {?x [:red] ?z [:red]} :duration 3000}]}

 {:rule/ident :straight
  :src ?origini
  :dst ?straighte
  :light [:green :yellow]}

 {:rule/ident :left
  :src ?origini
  :dst ?lefte
  :yield [{?straighti ?lefte} {?straighti ?origine}]
  :light [:green :yellow]}

 {:rule/ident :right
  :src ?origini
  :dst ?righte
  :light [:green :yellow]}

 {:rule/ident :right-on-red
  :src ?origini
  :dst ?righte
  :yield [{?lefti ?righte}]
  :light [:red]}

 {:lane.rules/ident :shamrock
  :lane.rules/vars [?origini ?origine ?lefti ?lefte ?righte ?straighte ?straighti]}

 {:lane.rules/of :shamrock
  :lane.rules/register :straight
  :lane.rules/substitute {?origini ?origini ?straighte ?straighte}}

 {:lane.rules/of :shamrock
  :lane.rules/register :left
  :lane.rules/substitute {?origini ?origini ?lefte ?lefte
                          ?straighti ?straighti ?origine ?origine}}

 {:lane.rules/of :shamrock
  :lane.rules/register :right
  :lane.rules/substitute {?origini ?origini ?righte ?righte}}

 {:lane.rules/of :shamrock
  :lane.rules/register :right-on-red
  :lane.rules/substitute {?origini ?origini ?righte ?righte ?lefte ?lefte}}

 {:intersection/ident ["10th Street" "Chestnut Street"]
  :intersection.install/rules :shamrock
  :intersection.install/schedule :shamrock-schedule}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "north"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?a
  :street.lane.install/light ?w
  :street.lane.install/substitute {?origini ?a ?origine ?A
                                   ?lefte ?B ?righte ?D
                                   ?straighte ?C ?straighti ?c}}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "north"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?A}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "Chestnut Street"
  :street/tag "east"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?b
  :street.lane.install/light ?x
  :street.lane.install/substitute {?origini ?b ?origine ?B
                                   ?lefte ?C ?righte ?A
                                   ?straighte ?D ?straighti ?d}}
 
 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "Chestnut Street"
  :street/tag "east"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?B}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "south"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?c
  :street.lane.install/light ?y
  :street.lane.install/substitute {?origini ?c ?origine ?C
                                   ?lefte ?D ?righte ?B
                                   ?straighte ?A ?straighti ?a}}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "south"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?C}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "Chestnut Street"
  :street/tag "west"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?d
  :street.lane.install/light ?z
  :street.lane.install/substitute {?origini ?d ?origine ?D
                                   ?lefte ?A ?righte ?C
                                   ?straighte ?B ?straighti ?b}}
 
 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "Chestnut Street"
  :street/tag "west"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?D}]

