[{:light-face/ident :standard
  :light-face/halt [:red]
  :light-face/proceed [:yellow :green]
  :light-face/init [:red]}

 {:schedule/ident :shamrock-schedule
  :schedule/substitute {?w :standard ?x :standard ?y :standard ?z :standard}
  :schedule/sequence [{:states {?w [:green] ?y [:green]} :duration 8000}
                      {:states {?w [:yellow] ?y [:yellow]} :duration 3000}
                      {:states {?w [:red] ?y [:red]} :duration 3000}
                      {:states {?x [:green] ?z [:green]} :duration 8000}
                      {:states {?x [:yellow] ?z [:yellow]} :duration 3000}
                      {:states {?x [:red] ?z [:red]} :duration 3000}]}

 {:rule/ident :straight
  :src ?origin
  :dst ?straight
  :light [:green :yellow]}

 {:rule/ident :left
  :src ?origin
  :dst ?left
  :yield [{?opposing ?left} {?opposing ?origin-egress}]
  :light [:green :yellow]}

 {:rule/ident :right
  :src ?origin
  :dst ?right
  :light [:green :yellow]}

 {:rule/ident :right-on-red
  :src ?origin
  :dst ?right
  :yield [{?left ?right}]
  :light [:red]}

 {:lane.rules/ident :shamrock
  :lane.rules/vars [?origin ?origin-egress ?left ?right ?straight ?opposing]}

 {:lane.rules/of :shamrock
  :lane.rules/register :straight
  :lane.rules/substitute {?origin ?origin ?straight ?straight}}

 {:lane.rules/of :shamrock
  :lane.rules/register :left
  :lane.rules/substitute {?origin ?origin ?left ?left ?opposing ?opposing ?origin-egress ?origin-egress}}

 {:lane.rules/of :shamrock
  :lane.rules/register :right
  :lane.rules/substitute {?origin ?origin ?right ?right}}

 {:lane.rules/of :shamrock
  :lane.rules/register :right-on-red
  :lane.rules/substitute {?origin ?origin ?right ?right ?left ?left}}

 {:intersection/ident ["10th Street" "Chestnut Street"]
  :intersection.install/rules :shamrock
  :intersection.install/schedule :shamrock-schedule}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "north"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?a
  :street.lane.install/light ?w
  :street.lane.install/substitute {?origin ?a ?origin-egress ?A
                                   ?left ?b ?right ?d
                                   ?straight ?c ?opposing ?C}}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "north"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?A}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "east"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?b
  :street.lane.install/light ?x
  :street.lane.install/substitute {?origin ?b ?origin-egress ?B
                                   ?left ?c ?right ?a
                                   ?straight ?d ?opposing ?D}}
 
 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "east"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?B}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "south"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?c
  :street.lane.install/light ?y
  :street.lane.install/substitute {?origin ?c ?origin-egress ?C
                                   ?left ?d ?right ?b
                                   ?straight ?a ?opposing ?A}}
 
 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "south"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?C}

 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "west"
  :street.lane.install/name "in"
  :street.lane.install/type :ingress
  :street.lane.install/rules :shamrock
  :street.lane.install/ident ?d
  :street.lane.install/light ?z
  :street.lane.install/substitute {?origin ?d ?origin-egress ?D
                                   ?left ?a ?right ?c
                                   ?straight ?b ?opposing ?B}}
 
 {:intersection/of ["10th Street" "Chestnut Street"]
  :street/name "10th Street"
  :street/tag "west"
  :street.lane.install/name "out"
  :street.lane.install/type :egress
  :street.lane.install/ident ?D}]

