[{:light/ident ?a
  :light/states [:red :yellow :green]
  :light/init [:red]}
 {:light/ident ?b
  :light/states [:red :yellow :green]
  :light/init [:red]}
 {:light/ident ?c
  :light/states [:red :yellow :green]
  :light/init [:red]}
 {:light/ident ?d
  :light/states [:red :yellow :green]
  :light/init [:red]}]

