[{:states {:a [:green] :c [:green]} :duration 8000}
 {:states {:a [:yellow] :c [:yellow]} :duration 1000}
 {:states {:a [:red] :c [:red]} :duration 1000}
 {:states {:b [:green] :d [:green]} :duration 8000}
 {:states {:b [:yellow] :d [:yellow]} :duration 1000}
 {:states {:b [:red] :d [:red]} :duration 1000}]