[{:light/face :a
  :light/states [:red :yellow :green]
  :light/init [:red]}
 {:light/face :b
  :light/states [:red :yellow :green]
  :light/init [:red]}
 {:light/face :c
  :light/states [:red :yellow :green]
  :light/init [:red]}
 {:light/face :d
  :light/states [:red :yellow :green]
  :light/init [:red]}]

