[{:connection/src {:intersection/of ["10th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "east"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["9th Street" "Chestnut Street"]
                   :street/name "Chestnut Street"
                   :street/tag "west"
                   :lane/name "in"}}
 
 {:connection/src {:intersection/of ["9th Street" "Chestnut Street"]
                   :street/name "9th Street"
                   :street/tag "north"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["9th Street" "Market Street"]
                   :street/name "9th Street"
                   :street/tag "south"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["9th Street" "Market Street"]
                   :street/name "Market Street"
                   :street/tag "west"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["10th Street" "Market Street"]
                   :street/name "10th Street"
                   :street/tag "east"
                   :lane/name "in"}}

 {:connection/src {:intersection/of ["10th Street" "Market Street"]
                   :street/name "10th Street"
                   :street/tag "south"
                   :lane/name "out"}
  :connection/dst {:intersection/of ["10th Street" "Chestnut Street"]
                   :street/name "10th Street"
                   :street/tag "north"
                   :lane/name "in"}}]

