;;;     | b | B  |
;;; ----          -----
;;; C             d
;;; ___           _____
;;; c             D
;;; ----          -----
;;;     | A | a  |

[{:rule.set/indent :my-rules
  :rule.install/indent :four-way/trio
  :rule.vars/list [:var/a :var/A :var/b :var/B
                   :var/c :var/C :var/d :var/D]}
 
 {:rule.register/indent :four-way/trio
  :rule/doc "Straight from lane a to B."
  :src.lane/var :var/a
  :dst.lane/var :var/B
  :light/proceed [:green :yellow]}

 {:rule/ident :four-way/left
  :rule/doc ""
  :src.lane/var :var/a
  :dst.lane/var :var/C
  :light/proceed [:green :yellow]
  :traffic/yield-to [{:src.lane/var :var/b
                      :dst.lane/var :var/A}
                     {:src.lane/var :var/b
                      :dst.lane/var :var/C}]}

 {:src.lane/var :var/a
  :dst.lane/var :var/D
  :light/proceed [:green :yellow]}
 
 {:src.lane/var :var/a
  :dst.lane/var :var/D
  :light/proceed [:red]
  :traffic/yield-to [{:src.lane/var :var/c
                      :dst.lane/var :var/D}]}]
