#{{:origin/street "North Street"
   :origin/lane "Main lane"
   :destination/street "South Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "North Street"
   :origin/lane "Main lane"
   :destination/street "West Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "North Street"
   :origin/lane "Main lane"
   :destination/street "West Street"
   :light/proceed #{:red}
   :traffic/yield-to #{{:traffic/street "East Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"West Street"}}}}
  {:origin/street "North Street"
   :origin/lane "Main lane"
   :destination/street "East Street"
   :light/proceed #{:green :yellow}
   :traffic/yield-to #{{:traffic/street "South Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"North Street" "East Street"}}}}
  {:origin/street "South Street"
   :origin/lane "Main lane"
   :destination/street "North Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "South Street"
   :origin/lane "Main lane"
   :destination/street "West Street"
   :light/proceed #{:green :yellow}
   :traffic/yield-to #{{:traffic/street "North Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"West Street"}}}}
  {:origin/street "South Street"
   :origin/lane "Main lane"
   :destination/street "East Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "South Street"
   :origin/lane "Main lane"
   :destination/street "East Street"
   :light/proceed #{:red}
   :traffic/yield-to #{{:traffic/street "West Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"East Street"}}}}
  {:origin/street "West Street"
   :origin/lane "Main lane"
   :destination/street "East Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "West Street"
   :origin/lane "Main lane"
   :destination/street "South Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "West Street"
   :origin/lane "Main lane"
   :destination/street "South Street"
   :light/proceed #{:red}
   :traffic/yield-to #{{:traffic/street "North Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"South Street"}}}}
  {:origin/street "West Street"
   :origin/lane "Main lane"
   :destination/street "North Street"
   :light/proceed #{:green :yellow}
   :traffic/yield-to #{{:traffic/street "East Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"North Street"}}}}
  {:origin/street "East Street"
   :origin/lane "Main lane"
   :destination/street "West Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "East Street"
   :origin/lane "Main lane"
   :destination/street "North Street"
   :light/proceed #{:green :yellow}}
  {:origin/street "East Street"
   :origin/lane "Main lane"
   :destination/street "North Street"
   :light/proceed #{:red}
   :traffic/yield-to #{{:traffic/street "South Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"North Street"}}}}  
  {:origin/street "East Street"
   :origin/lane "Main lane"
   :destination/street "South Street"
   :light/proceed #{:green :yellow}
   :traffic/yield-to #{{:traffic/street "West Street"
                        :traffic/lane "Main lane"
                        :traffic/destination #{"South Street"}}}}}

