[{:rule.use/ident :four-way/trio
  :rule.vars/substitute {:var/a :standard/a
                         :var/A :standard/A
                         :var/b :standard/b
                         :var/B :standard/B
                         :var/c :standard/c
                         :var/C :standard/C
                         :var/d :standard/d
                         :var/D :standard/D}}
 
 {:rule.use/ident :four-way/trio
  :rule.vars/substitute {:var/a :standard/b
                         :var/A :standard/B
                         :var/b :standard/a
                         :var/B :standard/A
                         :var/c :standard/d
                         :var/C :standard/D
                         :var/d :standard/c
                         :var/D :standard/C}}

 {:rule.use/ident :four-way/trio
  :rule.vars/substitute {:var/a :standard/c
                         :var/A :standard/C
                         :var/b :standard/d
                         :var/B :standard/D
                         :var/c :standard/b
                         :var/C :standard/B
                         :var/d :standard/a
                         :var/D :standard/A}}

 {:rule.use/ident :four-way/trio
  :rule.vars/substitute {:var/a :standard/d
                         :var/A :standard/D
                         :var/b :standard/c
                         :var/B :standard/C
                         :var/c :standard/a
                         :var/C :standard/A
                         :var/d :standard/b
                         :var/D :standard/B}}]
