;;;     | b | B  |
;;; ----          -----
;;; C             d
;;; ___           _____
;;; c             D
;;; ----          -----
;;;     | A | a  |

[{:src.lane/ident :standard/a
  :dst.lane/ident :standard/B
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/a
  :dst.lane/ident :standard/C
  :light/proceed [:green :yellow]
  :traffic/yield-to [{:src.lane/ident :standard/b
                      :dst.lane/ident :standard/A}
                     {:src.lane/ident :standard/b
                      :dst.lane/ident :standard/C}]}
 {:src.lane/indent :standard/a
  :dst.lane/indent :standard/D
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/a
  :dst.lane/ident :standard/D
  :light/proceed [:red]
  :traffic/yield-to [{:src.lane/ident :standard/c
                      :dst.lane/ident :standard/D}]}

 {:src.lane/indent :standard/b  
  :dst.lane/indent :standard/A
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/b
  :dst/lane/ident :standard/D
  :light/proceed [:green :yellow]
  :traffic/yield-to [{:src.lane/ident :standard/a
                      :dst.lane/ident :standard/B}
                     {:src.lane/ident :standard/a
                      :dst.lane/ident :standard/D}]}
 {:src.lane/ident :standard/b
  :dst.lane/ident :standard/C
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/b
  :dst.lane/ident :standard/C
  :light/proceed [:red]
  :traffic/yield-to [{:src.lane/ident :standard/d
                      :dst.lane/ident :standard/C}]}

 {:src.lane/ident :standard/c
  :dst.lane/ident :standard/D
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/c
  :dst.lane/ident :standard/B
  :light/proceed [:green :yellow]
  :traffic/yield-to [{:src.lane/ident :standard/d
                      :dst.lane/ident :standard/C}
                     {:src.lane/ident :standard/d
                      :dst.lane/ident :standard/B}]}
 {:src.lane/ident :standard/c
  :dst.lane/ident :standard/A
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/c
  :dst.lane/ident :standard/A
  :light/proceed [:red]
  :traffic/yield-to [{:src.lane/ident :standard/b
                      :dst.lane/ident :standard/A}]}
 
 {:src.lane/ident :standard/d
  :dst.lane/ident :standard/C
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/d
  :dst.lane/ident :standard/A
  :light/proceed [:green :yellow]
  :traffic/yield-to [{:src.lane/ident :standard/c
                      :dst.lane/ident :standard/D}
                     {:src.lane/ident :standard/c
                      :dst.lane/ident :standard/A}]}
 {:src.lane/ident :standard/d
  :dst.lane/ident :standard/B
  :light/proceed [:green :yellow]}
 {:src.lane/ident :standard/d
  :dst.lane/ident :standard/B
  :light/proceed [:red]
  :traffic/yield-to [{:src.lane/ident :standard/a
                      :dst.lane/ident :standard/B}]}]
